<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body   style="background-color:rgb(0, 0, 0);">


    <div class="nav">
        <a href="/">Home</a>
        <a href="/temperaturetrend">Temperature Trend</a>
        <a href="/cities">Major Autralian Cities</a>
        <a href="/emissions">Emissions</a>
        <a class="active" href="/inference">Inference</a>
        
    </div>

    

      <div class="container">
        <div class="jumbotron">
            <h2 class="display-2">  What can be gleaned?
            </h2>  
            
            <p>From the visualizations performed above it can be inferred that the average temperature in Australia is rising, particularly the current decade has record high average temperatures.
                 The summers are getting hotter and winters are getting colder. Which evidently proves the global warming and climate change. However, in the amidst of climate variation, the best possible cities to live are Hobart and Melbourne.
                 By analyzing the factors responsible for rise in temperature, emission CO2 and greenhouse gases corelates with rise in temperature. </p>
          
    </div>   
      </div>

</body>

</html>